<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-12">
            <header class="row">
                <app-top-nav></app-top-nav>

                <div class="col-12 bg-white pt-4">
                    <div class="row">
                        <div class="col-lg-auto">
                            <div class="site-logo text-center text-lg-left">
                                <a routerLink="/">E-Commerce</a>
                            </div>
                        </div>
                        <div class="col-lg-5 mx-auto mt-4 mt-lg-0">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="search" class="form-control border-dark" placeholder="Search..." name="searchText"
                                        [(ngModel)]="searchText" required>
                                        <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                         
                        </div>
                        <div class="col-lg-auto text-center text-lg-left header-item-holder">
                            <a href="#" class="header-item">
                                <i class="fas fa-heart me-2"></i><span id="header-favorite">0</span>
                            </a>
                            <a href="cart.html" class="header-item">
                                <i class="fas fa-shopping-bag me-2"></i><span id="header-qty" class="me-3">2</span>
                                <i class="fas fa-money-bill-wave me-2"></i><span id="header-price">$4,000</span>
                            </a>
                        </div>
                    </div>
                
                    <app-navbar></app-navbar>
                
                </div> 

            </header>
        </div>

        <div class="col-12">
            <main class="row" *ngIf="!searchText">

                <div class="col-12">
                    <div class="row">
                        <div class="col-12 py-3">
                            <div class="row">
                                <div class="col-12 text-center text-uppercase">
                                    <h2>Computers</h2>
                                </div>
                            </div>

                            <div class="row">
                                <div *ngFor="let cat of categories" class="item" style="width:300px; float:left;">
                                    <div>
                                        <div>
                                            <div>
                                                <a href="product.html">
                                                    <img src="{{cat.image}}" alt="x" class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <a href="product.html" class="product-name">{{cat.title}}</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price-old">

                                                </span>
                                                <br>
                                                <span class="product-price">

                                                </span>
                                            </div>
                                            <div class="col-12 mb-3 align-self-end">
                                                <button class="btn btn-outline-dark" type="button"><i
                                                        class="fas fa-cart-plus me-2"></i>Add to cart</button>
                                        </div>
                                    </div>
                             </div>
                                </div>
                                <!-- end of product -->
                            </div>
                        </div>
                    </div>
                </div>

            </main>
            <!-- here -->
            <main class="row" *ngIf="searchText">

                <div class="col-12">
                    <div class="row">
                        <div class="col-12 py-3">
                            <div class="row">
                                <div class="col-12 text-center text-uppercase">
                                    <h2>Computers</h2>
                                </div>
                            </div>

                            <div class="row">
                                <div *ngFor="let cat of allProducts | appSearch: searchText" class="item" style="width:300px; float:left;">
                                    <div>
                                        <div>
                                            <div>
                                                <a href="product.html">
                                                    <img src="{{cat.image}}" alt="x" class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <a href="product.html" class="product-name">{{cat.title}}</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price-old">

                                                </span>
                                                <br>
                                                <span class="product-price">

                                                </span>
                                            </div>
                                            <div class="col-12 mb-3 align-self-end">
                                                <button class="btn btn-outline-dark" type="button"><i
                                                        class="fas fa-cart-plus me-2"></i>Add to cart</button>
                                        </div>
                                    </div>
                             </div>
                                </div>
                                <!-- end of product -->
                            </div>
                        </div>
                    </div>
                </div>

            </main>
            <!-- end here  -->
        </div>
        <div class="col-12 align-self-end">
            <app-footer></app-footer>
        </div>
    </div>
</div>

<div class="search-results" infiniteScroll [infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>