<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-12">
            <header class="row">
                <app-top-nav></app-top-nav>

                <app-header [inputData]="names"></app-header>

            </header>
        </div>

        <div class="col-12">
            <main class="row">

                <div class="col-12">
                    <div class="row">
                        <div class="col-12 py-3">
                            <div class="row">
                                <div class="col-12 text-center text-uppercase">
                                    <h2>Computers</h2>
                                </div>
                            </div>

                            <div class="row">
                                <div *ngFor="let cat of categories" class="item" style="width:300px; float:left;">
                                    <div>
                                        <div>
                                            <div>
                                                <a href="product.html">
                                                    <img src="{{cat.image}}" alt="x" class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <a href="product.html" class="product-name">{{cat.title}}</a>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <span class="product-price-old">

                                                </span>
                                                <br>
                                                <span class="product-price">

                                                </span>
                                            </div>
                                            <div class="col-12 mb-3 align-self-end">
                                                <button class="btn btn-outline-dark" type="button"><i
                                                        class="fas fa-cart-plus me-2"></i>Add to cart</button>
                                        </div>
                                    </div>
                             </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>
        <div class="col-12 align-self-end">
            <app-footer></app-footer>
        </div>
    </div>
</div>

<div class="search-results" infiniteScroll [infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>